<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="GitPath" value="C:\Program Files\Git\bin\git.exe"/>
    <add key="DestPath" value="C:\Users\Sarah\Documents\Grading"/>
  </appSettings>
</configuration>